body {
  background: radial-gradient(circle, #05294b 30%, #000000 80%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
}

.header {
  text-align: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  padding: 8px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
a {
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.container {
  width: 92%;
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-left: auto;
}

.column a:hover,
.column2 a:hover {
  color: white; /* Changes color on hover */
}

.column {
  width: calc(25% - 10px);
  float: left;
  margin-top: 20px;
  padding-right: 5px; /* Added padding to prevent text overlap */
}

.column a {
  display: block;
  color: #69d9f1;
  margin-bottom: 3px;
  padding-bottom: 2px;
  white-space: nowrap;
  font-size: 14px;
}

.column:last-child {
  margin-right: 0; /* Remove margin for the last column */
}

.content {
  /* justify-content: space-between; */

  align-items: flex-start;
  padding: 0%;

  flex-wrap: nowrap; /* Remove if already set */
  flex-direction: column; /* Optional */

  width: -moz-fit-content; /* or a fixed width */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  width: 100%;
  /* max-width: 900px; Adjust as needed */
  /* margin-top: -10px; */
  padding: 5px; /* Optional padding */
}

#barChartWrapper {
  display: flex;
  justify-content: center;
  position: relative; /* Ensures absolute positioning within this element */
  margin-top: -5%;
  height: 100%;
  width: 100%; /* Ensure it takes full width */
  max-width: 800px; /* Optional: limit the max width */
  overflow: visible;
}

#barChartWrapper svg {
  width: 100%; /* Ensure SVG scales with container */

  overflow: visible; /* Ensures the axis title is visible */
}

.y-axis-title {
  font-size: 14px; /* Adjust font size as needed */
  fill: white; /* Ensure the text is visible on the background */
}

#backDiv {
  justify-content: left; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 10px 20px;
}

#infoBox {
  justify-content: left; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px; /* Adjust as needed */
  top: 50%; /* Center vertically */

  display: none; /* Initially hide it */

  width: fit-content; /* Ensure the width adjusts to the content */
  height: fit-content; /* Ensure the height adjusts to the content */
  margin-top: 2px; /* Space above */
}

#backHome {
  color: #2c3e50;
  background-color: #ecf0f1;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;

  display: none;
}

.photo {
  position: relative;
  width: 100%;
  height: 100%; /* Adjust the container height */
  transform-style: preserve-3d;
  transition: transform 0.6s;
  margin-left: 2%;
}

.photo:hover {
  transform: rotateY(180deg);
}

.photo-front,
.photo-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5rem;
}

.photo-back {
  width: 90%;
  height: 80%;
}

.photo-front img {
  object-fit: cover;
  border-radius: 0.5rem;

  width: 55%;
  height: 65%;
}

.photo-back {
  background-color: #2c3e50;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box; /* Ensure padding doesn't affect dimensions */
  text-align: center; /* Center text horizontally */
  overflow: hidden; /* Prevent text overflow */
  font-size: 12px; /* Set a smaller font size */
  text-overflow: ellipsis; /* Show ellipsis for overflowed text */
}

.candidate-name {
  align-self: flex-start; /* Align name to the top */
}

.candidate-party {
  align-self: flex-end; /* Align party to the bottom */
}

.photo-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow wrapping for grid items */
}

.photo-container {
  perspective: 1000px;
  flex: 1;
  width: 130px; /* Adjust the container width */
  margin: 0px 11px;
  overflow: hidden;
  aspect-ratio: 1/1;
}

/* Apply grayscale to images with src attribute containing "Loser" */
img[src*="Loser"] {
  border: 5px solid red;
  position: relative;
}

/* Border for grayscale images */
img[src*="Loser"]::after {
  content: "";
  position: absolute;
  /* top: 1000px;
  right: 0;
  bottom: 0;
  left: 0; */
  border: 12px solid red; /* Apply red border */
  pointer-events: none; /* Ensure the border doesn't interfere with clicks */
}

img[src*="Winner"] {
  border: 5px solid green; /* Apply green border */
}

@media screen and (max-width: 768px) {
  .column {
    width: calc(50% - 10px);
  }

  .photo:hover {
    transform: none;
  }
  .column {
    margin-left: 20px;
  }
  #barChartWrapper {
    height: 450px;
  }
}

@media screen and (max-width: 480px) {
  .column {
    width: 100%;
    margin-right: 0;
  }
  .photo:hover {
    transform: none;
  }
  .column {
    margin-left: 20px;
  }
  #barChartWrapper {
    height: 450px;
  }
}

@media screen and (max-width: 320px) {
  .column {
    width: 100%;
    margin-right: 0;
  }
  .photo:hover {
    transform: none;
  }
  .column {
    margin-left: 20px;
  }
  #barChartWrapper {
    height: 450px;
  }
}
