body {
  background: radial-gradient(circle, #05294b 65%, #000000 95%);
  color: white;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.card {
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  padding: 0.5rem;
  border-radius: 10px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
}

h2 {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
}

.backTotal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#info {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin-bottom: 10px;
}

#backHome {
  background-color: lightblue;
  color: black;
  padding: 10px 10px;
}

.container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 10px;
}

.column a:hover,
.column2 a:hover {
  color: white; /* Changes color on hover */
}

.column a {
  color: #69d9f1;
  margin-bottom: 3px;
  white-space: nowrap;
  font-size: 14px;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.y-axis-title {
  font-size: 14px; /* Adjust font size as needed */
  fill: white; /* Ensure the text is visible on the background */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.wrapper .barChart #barChartWrapper {
  flex-shrink: 1;
  padding: 0;
  margin: 0;
}

.wrapper #candidateImages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#candidateImages .photo-grid {
  flex-shrink: 1;
}

#candidateImages .photo-grid img {
  height: 100px;
  width: 120px;
}

img[src*="Loser"] {
  border: 5px solid red;
}

img[src*="Winner"] {
  border: 5px solid green;
}

@media (max-width: 750px) {
  #candidateImages .photo-grid {
    flex-wrap: wrap; /* Allow image container to wrap if needed */

    flex-shrink: 1;
  }

  #candidateImages .photo-grid img {
    width: calc(25% - 1rem);
    height: 100px;

    padding: 0;
  }

  .wrapper .barChart #barChartWrapper {
    flex-wrap: wrap;

    flex-shrink: 1;

    border: 0;
  }

  .y-axis-title {
    display: none;
    font-size: 11px; /* Adjust font size as needed */
    fill: white; /* Ensure the text is visible on the background */
    margin: 0;
    border: 0;
    padding-left: 0;
  }

  .container {
    flex-direction: column;
    gap: 0rem;
  }
  .ytext {
    display: none;
  }
}
